# --- Python ---
__pycache__/
*.pyc
*.pyo

# --- Virtual environment ---
.venv/

# --- Ruff ---
.ruff_cache/

# --- macOS junk ---
.DS_Store
._*
.Icon?

# --- Notebooks ---
.ipynb_checkpoints/

figures/
plots/
images/


# Folders met data
data/
datasets/
raw/
processed/

# --- Data bestanden---
*.xlsx
*.xls
*.parquet
*.txt

# Folders
Lab9_codes/*
archive/*
logs/*
logs_exc1/*